html {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-base;
  color: $clr-text;

  @include handheld {
    font-size: $font-size-base-handheld;
  }
}

body {
  background: $clr-bg-page;
  padding: 0 1rem;

  @include handheld {
    padding: 0;
  }
}

.hidden {
  display: none !important;
}
