@mixin handheld {
  @media screen and (max-width: #{$handheld-width - 1}) {
    @content;
  }
}

@mixin handheld-more {
  @media screen and (min-width: #{$handheld-width}) {
    @content;
  }
}

.handheld-only {
  @include handheld-more {
    display: none !important;
  }
}

.handheld-more-only {
  @include handheld {
    display: none !important;
  }
}
