$main-width: 1170px;
$handheld-width: 768px;

$clr-bg-page: #f5f8f9;
$clr-bg-component: #fff;
$clr-bg-popup: #fff;
$clr-bg-field: #f5f8f8;
$clr-bg-field-btn: #ecf1f5;
$clr-bg-profile-field-btn: #ecf1f5;

$clr-border-secondary: #e6ecf2;

$clr-text: #333;
$clr-text-secondary: #6f6f6f;
$clr-primary: #007ee5;
$clr-secondary: #d0dce7;

$font-size-base: 16px;
$font-size-base-handheld: 14px;
$font-size-small: 0.875rem;
$font-size-smaller: 0.75rem;
$font-size-big: 1.25rem;
$font-size-bigger: 1.5rem;

$header-inside-padding: 1.375rem;
$header-image-size: 10.625rem;
$header-image-right-shift: 1.625rem;
