.editProfileHandheld {
  padding-top: 1.5rem;

  &__group {
    margin-bottom: 1rem;
  }

  &__text {
    color: $clr-text;
    padding: 0.5em 0 0.7em;
    display:block;
    font-size: $font-size-big;
    width: 100%;
    border:none;
    border-bottom: 1px solid $clr-border-secondary;
    outline: none;
  }

  &__label {
    color: $clr-text-secondary;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: -1px;
  }
}
