.header {
  background: $clr-bg-component;
  max-width: $main-width;
  margin: 4.375rem auto 0;
  padding: $header-inside-padding 0 0;

  @include handheld {
    margin-top: 0;
    background: none;
  }

  &__btnLogout {
    display: table;
    border: 1px solid;
    border-radius: 2px;
    color: $clr-primary;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-smaller;
    padding: .65rem 1.125rem .56rem;
    margin-right: $header-inside-padding;
    margin-left: auto;

    &:hover {
      opacity: 0.5;;
    }

    @include handheld {
      border: none;
      font-size: $font-size-base-handheld;
    }
  }

  &__btnUpdCoverImage {
    display: table;
    border: 1px solid $clr-secondary;
    border-radius: 2px;
    color: $clr-text-secondary;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    font-size: $font-size-small;
    padding: .65rem 1.125rem .56rem;
    margin: 1.375rem auto 0;
    vertical-align: text-bottom;

    > .icon {
      font-size: 1.35rem;
      padding-right: .8rem;
      vertical-align: text-bottom;
      color: $clr-secondary;
    }

    @include handheld {
      display: none;
    }
  }
}
