.navigation {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.04), 0 1px 5px 0 rgba(0,0,0,0.14);
  padding-left: $header-inside-padding + $header-image-size + $header-image-right-shift;
  padding-right: $header-inside-padding;
  position: relative;
  justify-content: space-between;

  @include handheld {
    padding-left: $header-inside-padding;
    background-color: $clr-bg-component;
  }

  &__container {
    display: flex;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;

    &:after {
      content: 'a';
      height: 100%;
      color: transparent;
    }

    &::-webkit-scrollbar { width: 0 !important; height: 0 !important; }
  }

  &__followers {
    display: flex;
    align-items: center;
    color: $clr-text-secondary;
    min-width: 128px;

    &-count {
      color: $clr-text;
    }

    > .icon {
      font-size: 1.5rem;
      margin-right: 1rem;
      color: $clr-text-secondary;
    }
  }

  &__item {
    position: relative;
    list-style: none;
    margin-right: 1.75rem;

    &:after {
      display: block;
      content: "";
      position: absolute;
      background: $clr-primary;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      opacity: 0;
      transition: all .1s ease-out;
    }

    &-active:after {
      opacity: 1;
    }

    &:hover:not(.navigation__item-active) {
      &:after {
        opacity: 0.5;
      }
    }
  }

  &__link {
    display: block;
    color: $clr-text;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.4rem 0;
  }
}
