.pageContent {
  background: $clr-bg-component;
  max-width: $main-width;
  padding: 3rem 2.4rem;
  margin: 2.25rem auto;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.04), 0 1px 5px 0 rgba(0,0,0,0.14);
  box-sizing: border-box;

  @include handheld {
    padding: 2rem 2.14rem 2rem 1.29rem;
    border-radius: 0;
  }

  &__title {
    font-size: $font-size-bigger;
    font-weight: 400;
    color: $clr-text-secondary;
    margin: 0;
  }

  &__controls {
    display: flex;
    align-items: flex-end;
  }

  &__actionBtn {
    text-transform: uppercase;
    color: $clr-primary;
    font-size: $font-size-base-handheld;
    vertical-align: bottom;
    border: none;
  }

  &__wrapper {
    @include handheld-more {
      padding-top: 2rem;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__editHandheldProfile {
    background: $clr-bg-profile-field-btn;
    border: none;
    color: $clr-text-secondary;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .3rem .8rem;
    transition: all .1s ease-out;

    &:hover {
      background: $clr-primary;
      color: #fff;
    }
  }
}
