.popupEditField {
  display: table;
  position: absolute;
  z-index: 100;
  padding: 2.3rem 1.25rem 1.25rem;
  border-radius: 3px;
  top: -.7rem;
  left: 100%;
  margin-left: -3rem;
  background: $clr-bg-popup;
  box-shadow: 0 -4px 10px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.04), 0 1px 50px 0 rgba(0,0,0,0.14);

  &:before {
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: inherit;
    transform: translate(-40%, 100%) rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
  }

  &__inputContainer {
    position: relative;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: $font-size-big;
    padding: 10px 10px 10px 0;
    display: block;
    width: 16rem;
    border: none;
    border-bottom: 1px solid #757575;
    box-sizing: border-box;
    color: $clr-text;

    &:valid {
      & ~ .popupEditField__title {
        top: -1rem;
      }
    }

    &:focus {
      outline:none;

      & ~ .popupEditField__title {
        top: -1rem;
        color: $clr-text-secondary;
      }

      & ~ .popupEditField__highlight {
        animation:inputHighlighter 0.3s ease;
      }

      & ~ .popupEditField__highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
      }

      & ~ .popupEditField__bar:before, & ~ .popupEditField__bar:after {
        width: 50%;
      }
    }
  }

  &__title {
    font-weight:normal;
    color: $clr-text-secondary;
    text-transform: uppercase;
    position:absolute;
    pointer-events:none;
    left:0;
    top: 1rem;
    transition:0.2s ease all;
  }

  &__bar  { position:relative; display:block; width:100%; }
  &__bar:before, &__bar:after  {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background: $clr-primary;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  &__bar:before {
    left:50%;
  }

  &__bar:after {
    right:50%;
  }

  &__highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }

  &__buttons {
    display: flex;
  }

  &__btn  {
    display: table;
    border: 1px solid;
    border-radius: 2px;
    color: $clr-primary;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-smaller;
    padding: .65rem 1.125rem .56rem;
    cursor: pointer;

    &-yes {
      border: none;
      background: $clr-primary;
      color: #fff;
      margin-right: 1.3rem;
    }
  }
}

@-webkit-keyframes inputHighlighter {
  from { background: $clr-primary; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: $clr-primary; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background: $clr-primary; }
  to  { width:0; background:transparent; }
}
