.profileHandheld {
  &__field {
    font-size: $font-size-big;
    position: relative;
    padding-left: 2rem;
    margin-top: 1.4rem;

    &-name {
      font-size: $font-size-big;
      padding-left: 0;
      margin-bottom: 1.8rem;
    }


    > .icon {
      color: $clr-secondary;
      font-size: 1.2em;
      position: absolute;
      left: 0;
      top: -0.1em;
    }
  }
}
