.profileField {
  display: table;
  position: relative;
  background: $clr-bg-page;
  padding-left: .8rem;
  margin-bottom: .1rem;

  > .icon {
    font-size: 1.4rem;
    color: $clr-secondary;
    padding-right: .8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__value {
    font-size: $font-size-small;
    padding-right: 1.4rem;
    vertical-align: text-top;

    &-iconed {
      padding-left: 1.8rem;
    }

    &-bigger {
      font-size: $font-size-base;
    }
  }

  &__btn {
    background: $clr-bg-profile-field-btn;
    border: none;
    color: $clr-text-secondary;
    cursor: pointer;
    font-size: 1.5rem;
    height: 2.6875rem;
    width: 2.9375rem;
    transition: all .1s ease-out;
    outline: none;

    &:hover {
      background: $clr-primary;
      color: #fff;
    }
  }
}
