.profile {
  position: relative;
  display: flex;
  padding: 0 1.375rem;
  align-items: flex-end;
  z-index: 10;

  @include handheld {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    position: relative;
    width: $header-image-size;
    height: $header-image-size;
    overflow: hidden;
    margin-right: $header-image-right-shift;
    transform: translateY(22%);

    > .img {
      position: absolute;
      top: 0;
      right: 0;
    }

    @include handheld {
      transform: none;
      margin:  2rem 0 1rem 0;
      width: 9.14rem;
      height: 9.14rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include handheld {
      align-self: flex-start;
    }
  }

  &__name {
    font-size: $font-size-big;
    font-weight: 600;
    margin: 0 0 1.25rem;

    @include handheld {
      text-align: center;
      font-size: $font-size-bigger;
    }
  }

   &__number {
    @include handheld {
      order: -2;
    }
  }

  &__address, &__number {
    position: relative;
    font-size: $font-size-small;
    color: $clr-text-secondary;
    padding-left: 1.9rem;
    margin-top: 0;
    margin-bottom: 1rem;

    @include handheld {
      font-size: $font-size-base;
    }

    > .icon {
      font-size: 1.4em;
      position: absolute;
      left: 0;
      top: -0.2em;
    }
  }

  &__ratingHandheld {
    &-star {
      font-size: 2rem;
      color: $clr-primary;
    }
  }

  &__right {
    display: flex;
    position: absolute;
    right: $header-inside-padding;
    top: 3.2rem;
  }

  &__ratingDesktop {
    margin-right: 1.8rem;

    &-star {
      font-size: 1.7rem;
      color: $clr-text-secondary;
    }
  }

  &__reviewsDesktop {
    margin-top: .5rem;
    font-size: 1rem;
    padding-left: .35em;
    color: $clr-text-secondary;

    &-count {
      padding-right: .5rem;
      font-weight: 600;
    }
  }

  &__reviewsHandheld {
    margin-top: .5rem;
    font-size: $font-size-base;
    padding-left: .35em;
    color: $clr-text-secondary;

    &-count {
      padding-right: .55rem;
      font-weight: 600;
    }
  }

  &__followersHandheld {
    margin: 1.8rem 0;
    font-size: $font-size-base;
    display: flex;
    align-items: center;
    color: $clr-text-secondary;

    &-count {
      padding-right: .5rem;
      font-weight: 600;
    }

    > .icon {
      font-size: 1.8rem;
      padding-right: .6rem;
    }
  }
}
